- var portfolios = [{title: "React Gallery", link: "https://reactunsplashgallery.netlify.app/", description: "Image gallery made in Rect-js usinf unsplash api.", variant:"dark"},{title: 'Image upload', link: 'https://react-express-file-uploader.netlify.app/', description: 'Simple project to upload image with backend in express and deployed on Heroku.', variant: 'primary'}]

//- h2.title.mb-5 Portfolio
//- .container-fluid
  .row
    each portfolio, index in portfolios
      .col.col-md-4.col-lg-3
        .portfolio-card
          .portfolio-head(class=`bg-${portfolio.variant}`)
            span
            span
            span
            span
            span
            span
            span
          .card-body
            h4.card-title 
              a(class=`text-${portfolio.variant}` href=portfolio.link target="_blank")=portfolio.title
            .card-text=portfolio.description
            

h2.text-center Portfolio
  
.project-gallery
  each project, index in portfolios
    .project
      .content.text-center
        a.project-title(href=`${project.link}` target="_blank")=project.title
        p.text-muted=project.description  
        p.actions
          a.btn.btn-outline-primary.btn-sm.w-100(href=`${project.link}` target="_blank") Visit
