$total_art: 50;

.random-art {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    // min-height: 100vh;
    // height: inherit;
    @for $i from 1 through $total_art {
        // &.random-#{}
        $b: random(50) * 0.1;
        & > span:nth-child(#{$i}) {
            opacity: (random(40) * .01);
            display: block;
            width: #{$b}em;
            height: #{$b}em;
            position: absolute;
            top: #{random(95) * 1%};
            left: #{random(95) * 1%};
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: (random(100) * 1%);
        }
    }
}