$navbar-el-width: 10rem;

.navbar {
    // @extend .shadow-sm;
    @extend .border-bottom;
    .navbar-brand {
        img {
            width: 1.7em;
            position: relative;
            top: -.2em;
            // @extend .mr-2;
        }
    }
    
    .navbar-nav > .nav-item {
        min-width: $navbar-el-width;
        font-size: .9em;
        @extend .mx-4;
        &:not(:last-child) {
            @extend .border-bottom;
        }

        .nav-link {
            position: relative;
            padding: 1rem;
            font-size: .9em;
            &:hover, &.active {
                @extend .text-primary;
                padding-top: .9rem;
                padding-bottom: .9rem;
                font-size: 1em;
            }

            &::before {
                content: "";
                left: 0;
                position: absolute;
                top: 50%;
                border-bottom: 2px solid $primary;
                width: .5em;
            }
            // &.active::before, &:hover::before {
            //     width: 100%;
            //     border-width: 1px;
            //     transition: all .3s ease-in-out;
            // } 
            &.active::before{
                width: 100%;
                height: 2em;
                // background-color: $primary;
                background-color: lighten($primary, 38%);
                border-width: 0px;
                top: 20%;
                z-index: -1;
                transition: width .3s ease-in-out;
            } 
            &:not(.active):hover::before {
                width: 100%;
                height: 2em;
                // background-color: $primary;
                background-color: lighten($primary, 43%);
                border-width: 0px;
                top: 20%;
                z-index: -1;
                transition: width .3s ease-in-out;
            } 
        }

    }

    // Responsive
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        position: sticky;
        box-shadow: none!important;
        .navbar-brand {
            min-width: $navbar-el-width;
            margin-top: 2.5em;
            margin-bottom: 2.5em;
        }
        .navbar-collapse {
            flex-grow: unset;
        }
    }
}