

.portfolio-card {
  @extend .card;
  position: relative;
  .portfolio-head {
    @extend .card-img-top;
    @extend .random-art;
    position: relative;
    z-index: 0;
    min-width: 15em; 
    min-height: 10em;
  }
}

.project-gallery {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-center;
  .project {
    width: 20em;
    max-width: 90%;
    @extend .m-3;
    @extend .p-3;
    @extend .rounded;
    @extend .bg-white;
    @extend .shadow-sm;
    @extend .d-flex;
    @extend .align-items-center;

    .content {
      @extend .w-100;
      .project-title {
        @extend .h5;
        @extend .pb-0;
        @extend .mb-0;
        @extend .font-weight-bold;
      }
    }
    
  }
}